<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Database</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <a href="/artists">Show all artists</a>
    |
    <a href="/oldest-album">Show oldest album</a>
    |
    <a href="/longest-playtime">Show album with longest playtime</a>
    |
    <a href="/update-year">Update one of the albums</a>
    |
    <a href="/add-artist">Adds an artist</a>
    |
    <a href="/add-album">Adds an album</a>
    |
    <a href="/add-song">Adds a song</a>
    |
    <a href="/remove-artist">Removes an artist</a>
    |
    <a href="/remove-album">Removes an album</a>
    |
    <a href="/remove-song">Removes a Song</a>
  </nav>
  <p>Please enter info on the album you want to add </p>
  <form action="/submit-album" method="post">
    <label for="year">Choose artist</label>
    <input type="text" id="artist" name="artist" required>
    <br>
    <label for="year">Enter album title</label>
    <input type="text" id="title" name="title" required>
    <br>
    <label for="year">Enter album description</label>
    <input type="text" id="description" name="description" required>
    <br>
    <label for="year">Enter album release year</label>
    <input type="number" id="release" name="release" required>
    <br>
    <input type="submit">
  </form>

</body>
</html>